.ListUser {
  height: 50vh;
  width: 98%;
  margin: 0 auto;
  /* background-color: aqua;*/
  border-radius: 15px;
}
.ListUser1 {
  height: 60vh;
  width: 98%;
  margin: 0 auto;
  /* background-color: aqua;*/
  border-radius: 15px;
  text-align: center;
}
/* paginacion */
.botones {
  display: flex;
  justify-content: center;
  gap: 6px;
}
.botones button {
  padding: 0px;
  border-radius: 10px;
}

.tabla1 {
  overflow: scroll;
  height: 45vh;
}
.tabla {
  overflow: scroll;
  height: 35vh;
}

.filaFoto {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
  gap: 10px;
}

.cuerpotabla th {
  background-color: rgb(235, 168, 129);
}

.cabecera {
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: 9fr 1fr;
  align-items: center;
}
.new {
  background-color: rgb(235, 168, 129);
  border-radius: 20px;
}
.new svg {
  width: 25px;
  height: 25px;
  fill: rgb(39, 39, 39);
}
.ico1,
.ico2 {
  border-radius: 4px;
}

.ico1 :hover {
  background: #818181;
  color: rgb(71, 70, 70);
}
.ico2 :hover {
  background: #818181;
  color: rgb(90, 87, 87);
}
.iconos {
  text-decoration: none;
  /*display: flex;
  align-items: center;
  justify-content: center;*/
  background-color: transparent;
  border: none;
  cursor: pointer;
  gap: 1.5rem;
}
.ico1,
.ico2,
.new {
  position: relative;
}
.tooltiptext {
  position: absolute;
  visibility: hidden;
  background-color: black;
  color: aliceblue;
  text-align: center;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -20px;
  transition: 0.1s ease-in-out;
}
.Filter {
  display: flex;
  align-items: center;
  gap: 5px;
}
.Filter label {
  width: 70%;
}
.Filterbutton {
  display: flex;
  justify-content: flex-end;
  font-size: 30px;
}
.new:hover .tooltiptext {
  visibility: visible;
  transition: 2s ease-in-out;
}

.ico2:hover .tooltiptext {
  visibility: visible;
  transition: 2s ease-in-out;
}
.ico1:hover .tooltiptext {
  visibility: visible;
  transition: 2s ease-in-out;
}

/*para el nav de pet*/
.clientnav {
  margin-top: -50px;
  /* display: flex;
  justify-content: center; */
  margin-left: 40px;
}
.tabla2 {
  overflow: scroll;
  height: 27vh;
  width: 90vh;
}
/* buscador */
.Filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
}
.Filter input,
select {
  width: 100%;
  /* padding: 6px 10px; */
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
  color: #222;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 25px;
}
.Filter label {
  width: 70%;
}
.title {
  margin-right: 5px;
}
.icon {
  margin-top: 7px;
  position: absolute;
  margin-left: 57px;
}
.icon svg {
  fill: #222;
}
