.EditMe {
  background-color: rgba(31, 29, 29, 0.658);
  padding: 20px;
  color: rgb(247, 251, 253);
  height: max-content;
  border-radius: 15px;
  width: 100%;
}
.edittitle {
  display: flex;
  gap: 15px;
}
.edittitle h2 {
  margin-bottom: 16px;
}
.EditMe input {
  color: rgb(247, 251, 253);
}

.Butacept {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
}
.cols2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5%;
}
