.ForgotPassword {
  display: flex;
  justify-content: center;
  padding: 10% 10% 10% 10%;
  background-image: linear-gradient(
      to right,
      rgba(83, 83, 87, 0.568),
      rgba(12, 6, 10, 0.73)
    ),
    url('../imgs/main1.2.jpg');
  /*background-image: url("main1.jpg");*/

  background-size: cover;
  width: 100%;
  height: 100vh;
}
.contenido {
  max-width: 500px;
  max-height: 460px;
  min-height: 460px;
  background-color: rgb(243, 214, 198);
  background-color: rgba(18, 44, 22, 0.925);
  padding: 20px;
  border-radius: 10px;
}
.correo {
  display: flex;
  color: aliceblue;
  /* margin-top: -50px;*/
  margin-bottom: -17px;
  align-items: center;
}
.contenido p {
  padding: 10px;
}
.title {
  display: flex;
  align-items: center;
  padding: 15px;
}
.mensaje {
  background-color: rgba(247, 167, 167, 0.829);
  border-radius: 10px;
  border-left: 5px solid rgb(173, 33, 33);
  /* border-left: 5px solid rgb(29, 77, 37); */
}
.title svg {
  width: 35px;
  height: 35px;
}
.alert {
  background-color: rgb(246, 200, 47);
  border: solid 2px rgb(118, 131, 46);
  color: #42464b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: small;
  gap: 15px;
  padding: 3px 10px 3px 10px;
}
.alert svg {
  width: 30px;
  height: 30px;
}
.buttons {
  padding: 4% 5% 2% 5%;
  display: flex;
  justify-content: space-between;
  font-size: 35px;
}
.buttoncontainer {
  font-size: 30px;
  display: flex;
  justify-content: center;
}
.mensajes {
  font-size: 15px;
}
