.User {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.Port {
  /* margin-left: 8%; */
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
      to right,
      rgba(12, 6, 10, 0.73),
      rgba(19, 54, 44, 0.445)
    ),
    url("../imgs/Poruser1.jpg");
  background-size: cover;
  background-position: center;
}
