.main-container {
  display: flex;
}
.SideBar {
  background-image: linear-gradient(
      to right,
      rgba(12, 6, 10, 0.73),
      rgba(19, 54, 44, 0.445)
    ),
    url("../../imgs/Poruser.jpg");
  background-size: cover;
  color: white;
  height: 100vh;
  overflow-y: auto;
}
.section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
}
.section img {
  width: 7vh;
  height: 7vh;
}
.bars {
  width: 30px;
}
.bars svg {
  display: block;

  fill: #957c5c;
  width: 25px;
  height: 25px;
}
.routes {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.link {
  display: flex;
  font-weight: 500;
  color: rgb(240, 220, 208);
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  gap: 15px;
  padding: 5px 10px;
  border-right: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  text-decoration: none;
  align-items: center;
}
.link:hover {
  border-right: 4px solid #957c5c;
  background: #003621;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.active {
  border-right: 4px solid #957c5c;
  background: #003621;
}

.linktext {
  white-space: nowrap;
  font-size: 15px;
}
.icon svg {
  width: 25px;
  height: 25px;
  fill: rgb(233, 161, 120);
}
