.create {
  max-width: 1000px;
  margin: 0px;
  text-align: center;
  padding: 20px 17px;
  /*border: 4px solid #003621da;*/
  border-radius: 23px;
}
.create p {
  text-align: left;
  display: block;
  font-size: 17px;
  margin: 7px;
  text-shadow: 1px 1px 2px rgb(10, 10, 10);
}
.create h2 {
  font-size: 10px;
  color: #f54177;
  margin-bottom: 30px;
}
.create input,
textarea,
select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
  color: #222;
  border-radius: 10px;
}
/*
button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}*/
