.Getmeinfo {
  /*background-color: rgba(66, 66, 66, 0.658);*/
  background-color: rgba(31, 29, 29, 0.658);
  padding: 20px;
  color: aliceblue;
  height: 67vh;
  font-size: large;
  border-radius: 15px;
  width: 100%;
}
.title {
  margin-bottom: 16px;
}
/* 
.formsection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.formtitle {
  display: flex;
  justify-content: flex-end;
}
.formtitle p {
  font-weight: 400;
  color: rgb(245, 187, 153);
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}
.formresp {
  display: flex;
  justify-content: flex-start;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
} */

.formsection {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0;
  margin-top: 13px;
  margin-bottom: 13px;
  border-left: 3px solid rgb(243, 214, 198);
  border-radius: 15px;
  padding-left: 13px;
}
.formtitle {
  display: flex;
  justify-content: flex-start;
  margin-top: -10px;
}
.formtitle p {
  font-weight: 400;
  color: rgb(245, 187, 153);
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  padding-top: 0px;
}

.formresp {
  display: flex;
  justify-content: flex-start;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  margin-top: -10px;
  position: relative;
}
.formresp p {
  color: white;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}
.buttons {
  padding: 1% 2% 2% 1%;
  display: flex;
  justify-content: space-between;
  font-size: 35px;
}
.cols2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5%;
}
